<!DOCTYPE html>
<html ng-app="DarkNetChat">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DarkNet Chat</title>
	<!--script type="text/javascript" src="http://chat.mudz.me/server/socket.io.js"></script-->
	<script type="text/javascript" src="http://192.168.0.56:9940/server/socket.io.js"></script>
	<script type="text/javascript" src="js/crypto.js"></script>
	<script type="text/javascript" src="js/jq-ang-bs.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-controller="base">
<div class="auth-overlay" ng-controller="auth" ng-show="auth.visible">
	<div class="container">
		<form>
			<table>
				<tr><td class="name">Username:</td><td class="value"><input type="text" ng-model="auth.username"></td></tr>
				<tr><td class="name">Password:</td><td class="value"><input type="password" ng-model="auth.password"></td></tr>
				<tr><td colspan="2"><button ng-click="login()">Login</button> | <button>Forgot Password</button></td></tr>
			</table>
		</form>
		<!--hr-->
	</div>
</div>

<section class="header" ng-controller="header">
	<div class="icon"><img src="images/thundercat.png"></div>
	<span class="title">
		<strong>dark</strong>net chat</span>
	</span>

	<span class="right">
		<div ng-click="click('help');" ng-class="{ active: info.active == 'help' }">
			<i class="fa fa-lg fa-question-circle"></i>
			<div class="dropdown" ng-show="info.active == 'help'">
				asdf
			</div>
		</div>

		<div ng-click="click('preferences');" ng-class="{ active: info.active == 'preferences' }">
			<i class="fa fa-lg fa-cog" ng-class="{ 'fa-spin': info.hover == 'preferences' || info.active == 'preferences' }"></i>
			<div no-bubble class="dropdown" ng-show="info.active == 'preferences'">
				<ul>
					<li><label><input type="checkbox" ng-model="preferences.showJoinLeave">Show join/leave messages</label></li>
					<li><label><input type="checkbox" ng-model="preferences.showTimestamps">Show timestamps</label></li>
					<li><label><input type="checkbox" ng-disabled="!preferences.showTimestamps" ng-model="preferences.twelveHourTime">12-hour time (AM/PM)</label></li>
				</ul>
			</div>
		</div>

		<div ng-click="click('mail');" ng-class="{ active: info.active == 'mail' }">
			<i class="fa fa-lg fa-envelope"></i>
			<div no-bubble class="dropdown" ng-show="info.active == 'mail'">
				<ul>
					<li>asdf</li>
					<li>asdf</li>
					<li>asdf</li>
					<li>asdf</li>
				</ul>
			</div>
		</div>
	</span>
</section>

<section class="users" ng-controller="users">

</section>

<section class="input" ng-controller="input">
	<form ng-submit="send()">
		<input type="text" ng-model="input.value">
	</form>
	<div class="emojiIcon"><li class="fa fa-lg fa-smile-o"></li></div>
</section>

<section id="chatlog" class="chatlog lines colorful" ng-controller="chatlog">
	<div ng-repeat="entry in log">

		<div class="join" ng-if="entry.type == 'join' || entry.type == 'leave'" ng-show="preferences.showJoinLeave">
			<div class="timestamp" ng-show="preferences.showTimestamps && preferences.twelveHourTime">{{ entry.time | date:"h:mm a" }}</div>
			<div class="timestamp" ng-show="preferences.showTimestamps && !preferences.twelveHourTime">{{ entry.time | date:"H:mm" }}</div>
			<span ng-if="entry.type == 'join'"><span class="username">{{ entry.username }}</span> has joined chat</span>
			<span ng-if="entry.type == 'leave'"><span class="username">{{ entry.username }}</span> has left chat</span>
		</div>

		<div class="emote" ng-if="entry.type == 'emote'">
			<div class="timestamp" ng-show="preferences.showTimestamps && preferences.twelveHourTime">{{ entry.time | date:"h:mm a" }}</div>
			<div class="timestamp" ng-show="preferences.showTimestamps && !preferences.twelveHourTime">{{ entry.time | date:"H:mm" }}</div>
			<span ng-class="entry.color"><span class="username">{{ entry.username }}</span>{{ entry.message }}</span>
		</div>

		<div class="user" ng-if="entry.type == 'user'">
			<div class="message">
				<div class="textContainer" ng-repeat="message in entry.messages">
					<div class="timestamp" ng-show="preferences.showTimestamps && preferences.twelveHourTime">{{ message.time | date:"h:mm a" }}</div>
					<div class="timestamp" ng-show="preferences.showTimestamps && !preferences.twelveHourTime">{{ message.time | date:"H:mm" }}</div>
					<div class="text">{{ message.message }}</div>
				</div>
				<img class="avatar" ng-src="avatars/{{ entry.avatar }}">
				<div class="sender">
					<span ng-class="entry.color">{{ entry.username }}</span>
				</div>
			</div>
		</div>
	</div>
</section>


</body>
</html>
